{% extends 'koine_greek_games/base.html' %}

{% block title %}About Koine Greek Games{% endblock %}

{% block content %}
    <h2>About Us</h2>

    Welcome to the Koine Greek games website! My name is Floyd Hightower and I'm a computer programmer who is learning Koine Greek. To help me learn Koine Greek and to hone my programming skills, I've started this website as a way for students of Koine Greek to practices and reinforce skills.

    <br><br>

    When I started learning Koine Greek, I was looking for games and activities to help reinforce and review the topics I am studying in books. After looking around on the internet for such resources, I was disappointed with the limited number of resources, most of which were hard to use or very limited in their effectiveness.

    <br><br>

    My goal with this site is to design and implement creative games to help people learn and enjoy Koine Greek. If you have any questions, comments, or feedback, please do not hesitate to <a href="https://hightower.space/contact/">contact me</a>!
{% endblock %}
